.topbar {
  .flex(row, space-between, center);
  background-color: white;
  width: 100%;
  margin: 0 auto;
  // height: 10%;
  padding: 30px 50px;
  position: fixed;
  z-index: 10;
  .bottom-border();

  @media @max800 {
    .flex(column,space-between, center);
    width: 100%;
    margin: 0 auto;
    padding: 0px 50px 15px;
    h1 {
      text-decoration: none;
      margin:20px;

      &:hover {
        .scale(1.1);
      }
    }
  }
}

.home {
  padding-top: 5%;

  @media (max-width: 1000px) {
    padding-top:8%;
  }

  @media (max-width: 900px) {
    padding-top:10%;
  }

  @media @max800 {
    padding-top:15%;
  }

  @media (max-width: 600px) {
    padding-top:20%;
  }
  @media @max500 {
    padding-top:23%;
  }
  .fun-bus {
    margin-bottom: 30px;
  }

  .intro {
    .bottom-border();
    margin-bottom: 20px;
    padding-bottom:20px;

    @media @max500 {
      margin: 20px;
    }
  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media @max500 {
      .flex(column, center, center);
      width: 100%;
    }
   
    
    .text-content {
      width: 48%;
      padding-right: 1%;
      @media @max500 {
        width: 90%;
      }
    }

    .img-content {
      width: 48%;
      padding-left: 1%;

      @media @max500 {
        width: 90%;
      }

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    @media @max500 {
      .flex(column-reverse,center, center);
    }

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .btn {
    .buttons(teal, white);
    .ease();

    &:hover {
      .scale(1.05);
      .buttons(white, teal);
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    @media @max800 {
      .flex(column, center, center);
      width: 100%;
    }

    .destination {
      width: 30%;
      margin-bottom: 30px;

      @media @max800 {
        width: 70%;
      }
    }
  }
}// home